<div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span4">
                        <h4>Cultures</h4>

                    </div>
                </div>
                <br/>

                <div class="row">
                    <div id="cultureList" class="span2">

                    </div>
                </div>
            </div>
            <div id="detail" class="span4">


            </div>
        </div>
        <div class="row">

        </div>