<div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span4">
                        <h4>Aggregations</h4>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div id="aggregationMenu" class="span2">
                        <a href='#'>General</a>
                    </div>
                </div>
            </div>
            <div id="aggregationDetail" class="span4">


            </div>
        </div>
        <div class="row">

        </div>