<div class="span4 offset2">
    <form id="newUserForm" class="h5-defaults">
            <div class="control-group">
                    <label class="control-label" for="newUserEmail">email</label>
                    <div class="controls">
                            <input id="newUserEmail" type="text" class="input-xlarge h5-email" required="" />
                    </div>
            </div>
        <div class="control-group">
            <label class="control-label" for="newUserPassword">password</label>
            <div class="controls">
                <input id="newUserPassword" type="password" class="input-xlarge" required="" />
            </div>
        </div>
        <div class="">
                    <button class="btn btn-primary" id="user-submit" type="button">Submit</button>
            </div>
    </form>
</div>