{{parent}}
<div class="span4 offset2">
    <form id="idForm">
            {{cultureUrl}}
        <select id="substrate" name="substrate">
            <option name="">Substrate...</option>
            <option name="rye">rye</option>
            <option name="sorghum">sorghum</option>
            <option name="wbs">wild bird seed</option>
            <option name="sawdust">sawdust</option>
            <option name="enrichedsawdust">sawdust(enriched)</option>
            <option name="woodchips">wood chips</option>
            <option name="straw">straw</option>
        </select>
        <select id="container" name="container">
            <option name="">Container...</option>
            <option name="quart">mason jar(quart)</option>
            <option name="halfpint">mason jar(half-pint)</option>
            <option name="pint">mason jar(pint)</option>
            <option name="filterbag">filter patch bag</option>
            <option name="tub">tub</option>
            <option name="plasticTubing">plastic tube</option>
        </select>
        <div class="control-group">
            <label class="control-label" for="description">Notes</label>
            <div class="controls">
                <input id="description" name="description" type="text" class="input-xlarge" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="count">Count</label>
            <div class="controls">
                <input value="1" id="count" name="count" type="text" class="input-large" >
            </div>
        </div>
        <div class="input-append date" id="dp1" data-date="{{startDate}}" data-date-format="mm-dd-yyyy">
            <input id="startDate" name="startDate" class="span2" size="16" type="text" value="{{currentDate}}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
            <div class="">
                    <button class="btn btn-primary" id="project-submit" type="button">Submit</button>
            </div>
    </form>
</div>