<div class="span4 offset2">
    <a href='{{parent}}'>{{{prettyProductId parent}}}</a> >>
</div>
<div class="span4 offset2">
    <form id="idForm">
        <select id="substrate" name="substrate">
            <option value="">Substrate...</option>
            {{#each farm.substrates}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select id="container" name="container">
            <option value="">Containers...</option>
            {{#each farm.containers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <div class="control-group">
            <label class="control-label" for="description">Notes</label>
            <div class="controls">
                <input id="description" name="description" type="text" class="input-xlarge" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="count">Count</label>
            <div class="controls">
                <input value="1" id="count" name="count" type="text" class="input-large" >
            </div>
        </div>
        <div class="input-append date" id="dp1" data-date="{{startDate}}" data-date-format="mm-dd-yyyy">
            <input id="startDate" name="startDate" class="span2" size="16" type="text" value="{{currentDate}}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
            <div class="">
                    <button class="btn btn-primary" id="project-submit" type="button">Submit</button>
            </div>
    </form>
</div>