<div class="navbar">
        <div class="navbar-inner">
            <div style="width: auto;" class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="bb_mt#" class="brand">Mycotrack</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="menu_home"><a href="/">Home</a></li>
                        <li id="menu_projects"><a href="/bb_mt">Project</a></li>
                        <li id="menu_cultures"><a href="/culture_list">Cultures</a></li>
                        <li id="menu_species"><a href="/species_list">Species</a></li>
                    </ul>
                    <form action="" class="navbar-search pull-left">
                        <input type="text" placeholder="Search" class="search-query span2">
                    </form>
                    <ul class="nav pull-right">
                        <li id="loginanchor">
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="bb_mt#">Dropdown <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="new_project#" id="new_project">New Project</a></li>
                                <li><a href="new_culture#" id="new_culture">New Culture</a></li>
                                <li class="divider"></li>
                                <li><a href="bb_mt#">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>