<a href="{{project.parent}}">{{project.parent}}</a>
<div class="row">
    <span class="span2">
        <h3>General</h3>
        <ul>
            <li>Notes: {{project.description}}</li>
            <li>Substrate: {{project.substrate}}</li>
            <li>Container: {{project.container}}</li>
            <li>Count: {{project.count}}</li>
            <li>Date Started: {{{formatDate project.startDate "MM-dd-yyyy"}}}</li>
        </ul>
    </span>
    <span class="span2">
        <h3>Culture Info</h3>
        <ul>
            <li><a href="{{culture.id}}">{{culture.name}}</a></li>
        </ul>
    </span>
</div>
<div class="row span4">
    <button id="spawnButton">SPAWN!</button>
</div>
<div class="row">
    <h3>Events</h3>
    <span class="span1">
        <button id="shakeButton">Shake</button>
        <button id="contaminationButton">Contamination</button>
        <button id="pinningButton">Pinning</button>
        <button id="colonizedButton">Colonized</button>
    </span>
    <span class="span4">
        <ul>
            {{#each project.events}}
            <li>{{name}} - {{{formatDate dateCreated "MM-dd-yyyy"}}}</li>
            {{/each}}
        </ul>
    </span>
</div>