<a href="{{project.parent}}">{{project.parent}}</a>
<span class="row">
    <span class="span2">
        <h3>General</h3>
        <ul>
            <li>Name: {{project.name}}</li>
            <li>Notes: {{project.description}}</li>
            <li>Culture: {{project.cultureUrl}}</li>
            <li>Substrate: {{project.substrate}}</li>
            <li>Container: {{project.container}}</li>
            <li>Date Started: {{project.startDate}}</li>
        </ul>
    </span>
    <span class="span2">
        <h3>Culture Info</h3>
        <ul>
            <li>Name: {{culture.name}}</li>
        </ul>
    </span>
</span>
<div class="row">
    <button id="spawnButton">SPAWN!</button>
</div>
<div class="row">
    <button id="shakeButton">Shake</button>
    <button id="contaminationButton">Contamination</button>
    <button id="pinningButton">Pinning</button>
    <button id="colonizedButton">Colonized</button>
</div>
<div class="row">
    <span class="span4">
        <h3>Events</h3>
        <ul>
        {{#each project.events}}
            <li>{{name}} - {{dateCreated}}</li>
        {{/each}}
        </ul>
    </span>
</div>